.title{
  font-weight: 900;
  margin: 20px auto;
}
.title span{
  color: purple;
}
.videolist{
  height: 550px;
  overflow-y: auto;
}

figure{
  display: flex;
  padding: 10px;
  border: 1px solid #ddd;
  transition: .3s;
  cursor: pointer;
}

figure img{
  width: 100px;
  height: 100px;
}

figure:hover{
  opacity: 0.8;
}

figcaption{
  margin-top: 10px;
  margin-left: 10px;
}

.searchField{
  margin: 20px 0;
}

iframe{
  width:100%;
}

.desc{
  padding:15px;
  border-width: 0 1px 1px 1px;
  background-color: #ffe9ff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.desc p{
  font-size: 18px;
}